{% extends "base.html" %}

{% block title %}
{{ object.title }} - {{ block.super }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            {% include "products/snippets/product_detail.html" with product=object %}
        </div>
        <div class="col">
            {% if can_order %}
                <a class="btn btn-primary" href="/checkout">${{ object.price }} {{ object.order_btn_title }}</a>
            {% else %}
                {% if form %}
                    {% include 'snippets/form.html' with form=form submit_btn='Add to waitlist' %}
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock content %}